<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    {% if error %}
        <p style = 'color:red'><strong>请提供电影类型</strong></p>
    {% endif %}

        <p>You searched for:<strong>{{ query }}</strong></p>
        {% if movies %}
            <p>Found {{ movies|length }} movies</p>
            <ul>
            {% for movie in movies %}
                <li>{{ movie.name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No movie matched</p>
        {% endif %}

    <form action = "/searchverify" method="get">
        <input type = 'text', name="name">
        <input type = "submit", value="搜索">
    </form>
</body>
</html>